name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  static-checks:
    name: Static checks
    runs-on: ubuntu-20.04

    steps:
      - name: Load current commit
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Restore cache
        uses: c-hive/gha-npm-cache@v1

      - name: Install dependencies
        run: npm ci

      - name: Run static checks
        run: npm run static-checks
