name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  static-checks:
    name: Static checks
    runs-on: ubuntu-20.04

    steps:
      - name: Load current commit
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Read nvmrc
        id: read-nvmrc
        run: echo "::set-output name=version::$(cat .nvmrc)"
        shell: bash

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.read-nvmrc.outputs.version }}

      - name: Restore cache
        uses: c-hive/gha-npm-cache@v1

      - name: Install dependencies and check package-lock.json
        run: |
          cp package-lock.json package-lock.json.orig
          npm install
          if ! diff --color=always package-lock.json.orig package-lock.json ; then
            echo "package-lock.json changed, failing build"
            exit 1
          fi

      - name: Run static checks
        run: npm run static-checks

      - name: Check table of contents
        run: |
          missedTableOfContents=$(cat src/backend.md |  grep -E "^#{2,5} " | sed -E 's/(#+) (.+)/\1:\2:\2/g' | awk -F ":" '{ gsub(/#/,"  ",$1); gsub(/[ ]/,"-",$3); gsub(/^    /,"",$1); print $1 "- [" $2 "](#" tolower($3) ")" }' | diff --changed-group-format='%<' --unchanged-group-format=''  - src/backend.md)
          if ! $missedTableOfContents ; then
            echo "Table of contents is not correct, missed elements: $missedTableOfContents"
            exit 1
          fi
